main{
    padding: 0 5rem;
}

.top{
    display: flex;
    flex-wrap: wrap;
    margin-top: 6rem;
    margin-bottom: 1.5rem;
}

.table-title{
    flex: 1 1 20rem;
    font-size: 1.75rem;
    font-weight: 700;
    color: white;
}

.wrapped-table-btn{
    display: flex;
    gap: 1rem;
}

.table-btn{
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    padding: .75rem 1.25rem;
}

.search-container{
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: 1.5rem;
}

#search-input{
    padding: 1rem;
    border-radius: .25rem 0 0 .25rem;
}

#search-btn{
    padding: 1rem 1.375rem;
    border-radius: 0 .25rem .25rem 0;
}

.table-container{
    width: 100%;
    overflow: auto;
    margin-top: 4rem;
}

.table-container table{
    /* width: max-content; */
    /* min-width: 100%; */
    width: 100%;
    border: 0;
    border-collapse: separate;
    border-spacing: 0 1rem;
    -webkit-overflow-scrolling: touch;
}

.table-container th{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    padding: 1rem;
}

.table-container tbody>tr{
    /* background-color: #1F6868; */
    border-radius: .25rem;
    position: relative;
}

.table-container tbody>tr>td:first-child:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #1F6868;
    z-index: -1;
    border-radius: .25rem;
}

.table-container.loading tbody>tr::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, transparent, rgba(0, 255, 255, 0.349), transparent);
    mix-blend-mode: lighten;
    border-radius: inherit;
    animation: tableLoad 1s ease-in infinite;
}

.row-btn{
    padding: 1rem;
    min-width: min-content;
    max-width: max-content;
}

/* .action-col{
    position: sticky;
    right: 0;
} */

.action-td{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: center;
    gap: 1rem;
}

@keyframes tableLoad {
    0%{
        left: 0;
        right: 100%;
    }
    50%{
        left: 0;
        right: 50%;
    }
    100%{
        left: 75%;
        right: 0;
    }
}

.table-container td{
    text-align: center;
    padding: 1rem;
    color: white;
}

.bottom{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.page-info{
    flex: 1 1 100%;
    font-size: 1.5rem;
    font-weight: 500;
    color: #c4c4c4;
}

.page-info>.accented{
    color: white;
}

#prev-btn, #next-btn{
    font-size: 1.5rem;
    padding: .75rem 1.5rem;
}

#prev-btn:disabled, #next-btn:disabled{
    background-color: transparent;
    color: var(--color-accent);
    border: .1rem solid var(--color-accent);
    cursor: not-allowed;
}

@media screen and (max-width:950px) {
    main{
        padding: 0 2rem;
    }

    .top{
        justify-content: center;
    }

    .table-title{
        flex: 1 1 100%;
        text-align: center;
        margin-bottom: 1rem;
    }
}