body {
    background-image: url('../images/bg-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: grid;
    place-content: center;
}

.logo-container {
    margin: 0 auto;
}

.logo {
    color: var(--color-accent);
    width: 13rem;
    margin-bottom: 2rem;
}

form {
    display: grid;
    justify-items: center;
    gap: 1.5rem;
}

.input-container {
    font-size: 1.5rem;
}

.styled-label {
    font-weight: 600;
}

.styled-input {
    padding: 1rem;
    width: 30rem;
}

.styled-btn {
    padding: 1rem 4rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.form-btn {
    margin-top: 2rem;
}

.other-info {
    font-size: 1.25rem;
    font-weight: 500;
    color: #D8D8D8;
}

.reg-code-container{
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: minmax(10rem, 1fr) max-content; */
    gap: 1.5rem;
}

.reg-code-container>.input-container{
    flex: 3 1 20rem;
}

#reg-code{
    width: 100%;
}

#reg-code-btn{
    flex: 1;
    height: fit-content;
    align-self: end;
}

@media screen and (max-width:600px) {
    body{
        margin: 0 1.25rem;
    }

    form{
        width: 100%;
    }
    .input-container{
        width: 100%;
    }
    .input-container>.styled-input{
        width: 100%;
    }
}