<% const final = await extend(`partials/layout`, {}, (section)=>{ %>

<% section['headExt'] = () => { %>

<link rel="stylesheet" href="/css/has-table.css">
<link rel="stylesheet" href="/css/pelanggan/index.css">
<style>
	.subcell {
		font-weight: 200;
		font-size: .75rem;
	}
</style>

<% } %>

<% section['sidebar-items'] = () => { %>

<li class="sidebar-item">
	<a href="/dashboard?no-cache=" class="sidebar-link">
		<i class="fas fa-tv"></i>
		<p>Dashboard</p>
	</a>
</li>
<li class="sidebar-item">
	<a href="/pelanggan?no-cache=" class="sidebar-link">
		<i class="fas fa-user"></i>
		<p>Daftar Pelanggan</p>
	</a>
</li>
<li class="sidebar-item">
	<a href="/karyawan?no-cache=" class="sidebar-link">
		<i class="fas fa-user-tie"></i>
		<p>Daftar Karyawan</p>
	</a>
</li>
<li class="sidebar-item">
	<a href="/penggunaan?no-cache=" class="sidebar-link">
		<i class="fas fa-hand-holding-water"></i>
		<p>Daftar Penggunaan</p>
	</a>
</li>
<li class="sidebar-item">
	<a href="/pembayaran?no-cache=" class="sidebar-link">
		<i class="fas fa-hand-holding-usd"></i>
		<p>Histori Pembayaran</p>
	</a>
</li>
<li class="sidebar-item">
	<a href="/tarif?no-cache=" class="sidebar-link active">
		<i class="fas fa-tags"></i>
		<p>Daftar Tarif</p>
	</a>
</li>

<% } %>

<% section['content'] = () => { %>
<section class="top">
	<h2 class="table-title">Daftar Tarif</h2>
	<a href="/tarif/add?no-cache=" class="styled-btn table-btn">Tambah</a>
</section>
<div class="table-container loading">
	<table>
		<thead>
			<tr>
				<th>Nama Kelompok</th>
				<th>Range Penggunaan (M<sup>3</sup>)</th>
				<th>Tarif Air (M<sup>3</sup>)</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="4">-</td>
			</tr>
			<tr>
				<td colspan="4">-</td>
			</tr>
			<tr>
				<td colspan="4">-</td>
			</tr>
			<tr>
				<td colspan="4">-</td>
			</tr>
			<tr>
				<td colspan="4">-</td>
			</tr>
		</tbody>
	</table>
</div>
<% } %>

<% section['scripts'] = () => { %>
<script>
	
	const tableContainer = document.querySelector('.table-container');
	const tBody = document.querySelector('tbody');
	window.addEventListener('load', async (e) => {
		await getTarif();
	})

	async function getTarif() {
		try {
			const res = await fetch('/tarif/get');
			tableContainer.classList.add('loading')
			const {
				data
			} = await res.json();
			tBody.innerHTML = data.kategori.length > 0 ?
				data.kategori.map(krow => `<tr>
                        <td>
							${krow.namaKategori}
							${data.subkategori.length>0?`<br>
							${data.subkategori.filter(srow=>srow.idKategori===krow.idKategori).sort((a,b)=>a.rangeAwal-b.rangeAwal).map(srow=>`
							<span class="subcell">${srow.namaSubkategori}</span>
							`).join('<br>')}`:``}
						</td>
                        <td>
							${data.tarif.length>0?`
							${data.tarif.filter(trow=>trow.idKategori===krow.idKategori).map(trow=>`
							${trow.rangeAwal} - ${trow.rangeAkhir===0?'Up':trow.rangeAkhir}
							`).join('<br>')}
							`:
							``}
						</td>
                        <td>
							${data.tarif.length>0?`
							${data.tarif.filter(trow=>trow.idKategori===krow.idKategori).map(trow=>`
							${trow.nilai.toLocaleString('de')}
							`).join('<br>')}
							`:
							``}
						</td>
						<td class="action-col">
							<div class="action-td">
								<a href="/tarif/${krow.idKategori}?no-cache=" class="styled-btn row-btn edit-btn"><i class="fas fa-pen"></i></a>
								<button class="styled-btn red-btn row-btn delete-btn" onclick="deleteKategori(${krow.idKategori})"><i class="fas fa-trash"></i></button>
							</div>
						</td>
                    </tr>`).join('\\n') :
				`<tr><td colspan="4">Kosong.</td></tr>`;
			tableContainer.classList.remove('loading');

		} catch (err) {
			console.error(err);
			alert('Terjadi Kesalahan.');
		}
	}

	async function deleteKategori(idKategori) {
		if(!confirm('Yakin hapus?')) return;
		try {
			const res = await fetch(`/tarif/${idKategori}`, {
				method: 'DELETE',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({csrfToken: '<%=csrfToken%>'})
			});
			const json = await res.json();
			if ('error' in json) {
				flashMessage.textContent = json.error;
				flashMessage.classList.add('error');
				flashMessage.classList.add('active');
				return;
			}
			flashMessage.textContent = json.success;
			flashMessage.classList.add('success');
			flashMessage.classList.add('active');
			window.location.reload();
		}catch(err){
			console.error(err);
			alert('Terjadi Kesalahan.');
		}
	}
</script>
<% } %>

<% }); %>

<%- final %>