<% const final = await extend(`partials/layout`, {}, (section)=>{ %>

<% section['headExt'] = () => { %>

<link rel="stylesheet" href="/css/has-table.css">

<% } %>

<% section['sidebar-items'] = () => { %>

<li class="sidebar-item">
	<a href="/dashboard?no-cache=" class="sidebar-link">
		<i class="fas fa-tv"></i>
		<p>Dashboard</p>
	</a>
</li>
<% if(user.role==='administrator'){ %>
<li class="sidebar-item">
	<a href="/pelanggan?no-cache=" class="sidebar-link">
		<i class="fas fa-user"></i>
		<p>Daftar Pelanggan</p>
	</a>
</li>
<li class="sidebar-item">
	<a href="/karyawan?no-cache=" class="sidebar-link">
		<i class="fas fa-user-tie"></i>
		<p>Daftar Karyawan</p>
	</a>
</li>
<li class="sidebar-item">
	<a href="/penggunaan?no-cache=" class="sidebar-link active">
		<i class="fas fa-hand-holding-water"></i>
		<p>Daftar Penggunaan</p>
	</a>
</li>
<li class="sidebar-item">
	<a href="/pembayaran?no-cache=" class="sidebar-link">
		<i class="fas fa-hand-holding-usd"></i>
		<p>Histori Pembayaran</p>
	</a>
</li>
<li class="sidebar-item">
	<a href="/tarif?no-cache=" class="sidebar-link">
		<i class="fas fa-tags"></i>
		<p>Daftar Tarif</p>
	</a>
</li>
<% }else{ %>
<li class="sidebar-item">
	<a href="/main?no-cache=" class="sidebar-link">
		<i class="fas fa-suitcase"></i>
		<p>Main</p>
	</a>
</li>
<li class="sidebar-item">
	<a href="/penggunaan?no-cache=" class="sidebar-link active">
		<i class="fas fa-hand-holding-water"></i>
		<p>Daftar Penggunaan</p>
	</a>
</li>
<% } %>

<% } %>

<% section['content'] = () => { %>
<section class="top">
	<h2 class="table-title">Daftar Penggunaan</h2>
	<% if(user.role==='field_officer'){ %>
	<div class="wrapped-table-btn">
		<a href="/main?no-cache=" class="styled-btn table-btn">Tambah</a>
		<a href="/penggunaan/perbaiki?no-cache=" class="styled-btn table-btn">Perbaiki</a>
	</div>
	<% } %>
</section>
<div class="search-container">
	<input class="styled-input" type="text" name="search" id="search-input" size="1">
	<button class="styled-btn" id="search-btn">
		<i class="fas fa-search"></i>
	</button>
</div>
<div class="table-container loading">
	<table>
		<thead>
			<tr>
				<th>ID Pelanggan</th>
				<th>Nama Lengkap</th>
				<th>Tanggal Pengecekkan</th>
				<th>Meteran Awal</th>
				<th>Meteran Akhir</th>
				<th>Karyawan</th>
			</tr>
		</thead>
		<tbody>
			<% for(let i=0; i<5; i++){ %>
			<tr>
				<td colspan="6">-</td>
			</tr>
			<% } %>
		</tbody>
	</table>
</div>
<div class="bottom">
	<p class="page-info">Page <span class="accented" id="current-page">1</span> of <span id="page-count">1</span></p>
	<button class="styled-btn" id="prev-btn" disabled>
		<i class="fas fa-angle-left"></i>
	</button>
	<button class="styled-btn" id="next-btn" disabled>
		<i class="fas fa-angle-right"></i>
	</button>
</div>
<% } %>

<% section['scripts'] = () => { %>
<script>
	const sInput = document.getElementById('search-input');
	const sBtn = document.getElementById('search-btn');
	const tableContainer = document.querySelector('.table-container');
	const tBody = document.querySelector('tbody');
	const currentPageEl = document.getElementById('current-page');
	const pageCountEl = document.getElementById('page-count');
	const prevBtn = document.getElementById('prev-btn');
	const nextBtn = document.getElementById('next-btn');

	window.addEventListener('load', async (e) => {
		const qparams = new URLSearchParams(window.location.search);
		await getPenggunaan(qparams.get('search'), qparams.get('page'));
	})

	sInput.addEventListener('keyup', async (e) => {
		const qparams = new URLSearchParams(window.location.search);
		if (e.key === 'Enter') {
			await getPenggunaan(sInput.value, qparams.get('page'))
		}
	})

	sBtn.addEventListener('click', async (e) => {
		const qparams = new URLSearchParams(window.location.search);
		await getPenggunaan(sInput.value, qparams.get('page'))
	})

	prevBtn.addEventListener('click', async (e) => {
		const qparams = new URLSearchParams(window.location.search);
		let page = parseInt(qparams.get('page'));
		page = page ? page : 1;
		await getPenggunaan(qparams.get('search'), page - 1)
	});

	nextBtn.addEventListener('click', async (e) => {
		const qparams = new URLSearchParams(window.location.search);
		let page = parseInt(qparams.get('page'));
		page = page ? page : 1;
		await getPenggunaan(qparams.get('search'), page + 1)
	});

	async function getPenggunaan(search, page) {
		try {
			page = parseInt(page) ? parseInt(page) : 1;
			let res;
			tableContainer.classList.add('loading')
			if (search) {
				res = await fetch(`/penggunaan/get?search=${search}&page=${page}`);
				window.history.pushState({}, 'GET', `/penggunaan?search=${search}&page=${page}`);
				sInput.value = search;
			} else {
				res = await fetch(`/penggunaan/get?page=${page}`);
				window.history.pushState({}, 'GET', `/penggunaan?page=${page}`);
				sInput.value = '';
			}
			const {
				count,
				pageCount,
				currentPage,
				hasPrev,
				hasNext,
				data
			} = await res.json();
			tBody.innerHTML = data.length > 0 ?
				data.map(row => /*html*/ `<tr>
							<td>${row.idPelanggan}</td>
							<td>${row.namaPelanggan}</td>
							<td>${new Date(row.tanggalPengecekkan).toLocaleDateString('id', {day: 'numeric', month: 'long', year: 'numeric'})}</td>
							<td>${row.meteranAwal}</td>
							<td>${row.meteranAkhir}</td>
							<td>${row.usernameKaryawan ?? '-'}</td>
						</tr>`).join('\\n') :
				/*html*/
				`<tr><td colspan="6">Kosong.</td></tr>`;
			prevBtn.disabled = !hasPrev;
			nextBtn.disabled = !hasNext;
			currentPageEl.textContent = pageCount <= 0 ? 0 : currentPage;
			pageCountEl.textContent = pageCount;
			tableContainer.classList.remove('loading');
		} catch (err) {
			console.error(err);
			alert('Terjadi Kesalahan.');
		}
	}
</script>
<% } %>

<% }); %>

<%- final %>